<div class="row">

    <form action="/admin/generate-fake-post" method="POST">
         <h2>Create Post</h2>
        <div class="form-group">
            <input name="amount" type="number" class="form-control">
        </div>

        <button type="submit" class="btn btn-info">Create</button>
    </form>
</div>