    <!-- Navigation -->
    {{>home/home-nav}}

    <!-- Page Content -->
    <div class="container">

    {{> home/form-msg}}

    {{{body}}}

    </div>
    <!-- /.container -->

    {{!-- footer --}}

    {{>home/footer}}
