    <!-- Navigation -->
    {{>home/home-nav}}

    <!-- Page Content -->
    <div class="container">

    {{> home/form-msg}}

        {{#if errors}}
        
        {{#each errors}}
        
        <div class="alert alert-danger">
            {{message}}
        </div>

        {{/each}}
        
        {{/if}}

    {{{body}}}

    </div>
    <!-- /.container -->

    {{!-- footer --}}

    {{>home/footer}}
